@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
.glass-effect {
  background: rgba(0, 0, 0, 0.2); /* Dark transparent background */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
